// font faces
//$body-font = "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
$body-font = "Lato", "Helvetica Neue", Arial, sans-serif
//$body-font = "PT Serif", "Helvetica", Arial,sans-serif // ugly
$logo-font = "Overlock", "Lato", "Helvetica Neue", Arial, sans-serif
$code-font = "Roboto Mono", Monaco, courier, monospace

// font sizes
$body-font-size = 16px
$code-font-size = .8em

// colors
$bold = #354a5f
$dark   = #2c3e50
$medium = #34495e
$light  = #739598
$emphasis = #84b9bb
$main-color  = #9f2112
$border = #dddddd
$codebg = #fdfdfd
$second-color = #519fa5
$info = #63a91f

$radius = 2px
$content-padding-top = 25px

// header settings
$header-inner-height = 25px
$heading-padding-vertical = 10px
$header-height = $header-inner-height + $heading-padding-vertical * 2
$mobile-header-height = 40px
// prevent headers from being covered by the top nav upon navigation
$heading-link-padding-top = $header-height + $content-padding-top
$mobile-heading-link-padding-top = $mobile-header-height + $content-padding-top + 5px
$h2-margin-top = 45px
$h3-margin-top = 52px
