$width = 900px

table {
  font-family: lucida sans unicode, lucida grande, Sans-Serif;
  font-size: 12px;
  background: #fff;
  min-width: 500px;
  max-width: 1000px;
  border-collapse: collapse;
  text-align: left;
  margin: 15px 10px 35px;
}

table th {
  font-size: 14px;
  font-weight: 400;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 0.7em 1em;
}

table td {
  border-bottom: 1px solid #ccc;
  color: #669;
  padding: 0.5em 1em;
}

table tbody tr:hover td {
  color: #009;
}

.table-container table code
  font-size : 1em

.fullwidth .table-container
  width: $width
