<li class="nav-dropdown-container language">
  <a class="nav-link">Translations</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://brucou.github.io/<%- page.path %>" class="nav-link" target="_blank">Español</a></li>
    <li><a href="https://brucou.github.io/<%- page.path %>" class="nav-link" target="_blank">Français</a></li>
  </ul>
</li>
